<% @users.each do |my| %>
   <p> 
       id: <%= my.uid %>
       pass: <%= my.pass %>
       <%= link_to '削除', "/users/#{my.id}", method: :delete %>
<% end %>

<p><%= link_to '新規追加', users_new_path %></p>
<p><%= link_to 'ツイート一覧', tweets_index_path %></p>
