<% @users.each do |my| %>
   <p> 
       id: <%= my.uid %>
       pass: <%= my.pass %>
       <%= link_to '削除', user_path(my.id), method: :delete %>
    </p>
<% end %>

<p><%= link_to '新規ユーザ追加', users_new_path %></p>
<p><%= link_to 'ツイート一覧', tweets_index_path %></p>
<p><%= link_to 'ログイン', tops_login_path %></p>